
//create variables
$mainColor:#84a59d;
$secondaryColor:#3d405b;
$tertiaryColor:#f28482;

html{
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 0;
    background-color: $mainColor;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:white;
}
body, html{
    padding: 0;
    margin: 0;
}

.container{
    margin: 1rem 1rem;
    padding: 0px 1rem;
}

.header{
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    padding: 1rem;
    @media screen and (max-width: 1024px){
        flex-direction: column;
        .formGroup {
            select{
                width: 100%;
                height: 100%;
            }
            label{
                font-size: 0.2rem;
            }
            #categoria{
                height: 2rem;
            }
        }
    }

    .formGroup{
        display: flex;
        flex-direction: column;
        margin: .3rem;
        justify-content: center;
        align-items: center;

        label{
            font-size: 2rem;
            font-weight: bold;
            color: $secondaryColor;
            margin-bottom: .25rem;
        }

        .btn{
            background-color: $mainColor;
            color: #fff;
            border: none;
            padding: .5rem 1rem;
            border-radius: 5px;
            font-size: 1rem;
            font-weight: bold;
            cursor: pointer;
            transition: .3s;
            &:hover{
                background-color: $tertiaryColor;
            }
        }
    }
    

}

.card-grid{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(calc(200px), 1fr));
    grid-gap: 1rem;

}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #fff;
    height: 300px; //dinamico
    width:100%; //dinamico
    transition: 600ms;

    -webkit-transform-style:    preserve-3d;
    -moz-transform-style:       preserve-3d;
    -o-transform-style:         preserve-3d;
    -ms-transform-style:        preserve-3d;
    transform-style:            preserve-3d;

    transition: transform 0.5s;

    &:hover{
        transform: perspective(1000px)  translateY(-15px);
    }
    &.flip{
        transform: perspective(1000px)  rotateY(180deg) translateZ(1px);
        .front,
        .back{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            transition: transform 0.5s;
        }
        
    }
    
    .front,
    .back{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        border-radius: 1rem;

        backface-visibility: hidden;

    }
    .front{
        background-color: white;
        color:black;
    }
    .back{
        background: $secondaryColor;
        transform: rotateY(-180deg);
    }

    //text
    .front h2,.back p{
        font-size: 0.9rem;
        text-align: center;
        @media screen and (max-width: 1024px){
            font-size: 1.2rem;
        }

    }

}


